<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Registration Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <!-- Angular Material style sheet -->
      <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
      <link rel="stylesheet" href="style.css">
      <!-- Angular Material Libraries -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

      <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <script src="app.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="mainController" ng-cloak>
    <!-- Page Content -->
    <div class="wrapper" >
      <div id="regContainer" class="signup" layout="column">
        <md-toolbar class="md-toolbar-tools">
          <h2>Registration Form</h2>
          <span flex></span>
        </md-toolbar>
          <md-content layout-padding>
            <form name="regForm" role="form">
                <md-input-container class="md-icon-float md-block">
                    <label>User ID</label>
                    <input required my-uid type="text" name="uid" ng-model="user.id">
                    <div ng-messages="regForm.uid.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="uid">The user ID must 9 digit number.And the remainder of sum of first 8 digits should equal to the 9th digit.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>User Name: </label>
                    <input required md-maxlength="35" type="text" name="username" ng-model="user.name">
                    <div ng-messages="regForm.username.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The user name must be less than 35 characters long.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" name="useremail" ng-model="user.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="regForm.useremail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password: </label>
                    <input required minlength="8" my-password type="password" name="password" ng-model="user.password">
                    <div ng-messages="regForm.password.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="minlength">The password must be more than 8 characters long.</div>
                      <div ng-message="pass">The password must contain at least one letter and one digit.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Verify Password: </label>
                    <input required type="password" name="verifyPassword" ng-model="user.verifyPassword"
                            compare-to="user.password"/>
                    <div ng-messages="regForm.verifyPassword.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="compareTo">Must match the previous entry</div>
                    </div>
                </md-input-container>

                <md-button type="submit" ng-disabled="regForm.$invalid">Submit</md-button>
                
            </form>
          </md-content>
      </div>
    </div>

    <!-- /Page Content -->
  </body>
</html>
