<div class="row">
    <div class="col-12">
        <div class="card" style="background-color: #3c4452;">
            <div class="card-body">
                <h4 class="card-title"style="font-weight: 300;
                line-height: 1.2;
                color: inherit;font-size: 1.125rem;">Kateqoriya Əlavə</h4>
                <form class="mt-4" action="#" method="POST" >
                    <md-input-container class="md-block" flex-gt-xs required>
                        <label>Adı</label>
                        <input ng-model="category.name">
                    </md-input-container>


                    <div>
                        <md-button class="md-raised md-warn">Ləğv et</md-button>
                        <md-button class="md-raised md-primary" ng-click="add()">Əlavə et</md-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>